Question 1 :
Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.

Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24 35

In [38]:
def extract_company(email):
    si=email.find('@')
    ei=email.find('.')
    for i in range(si+1,ei):
            print(email[i],end="")
email=input("enter email id: ")
extract_company(email)

google

dQuestion 2 :
Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [46]:
def sortedSentence(Sentence): 
    words=Sentence.split(",")
    words.sort() 
    newSentence = ",".join(words)
    print(newSentence)
Sen="without,hello,bag,world"
sortedSentence(Sen)

bag,hello,without,world

Question 3:
Create your own Jupyter Notebook for Sets. Reference link:
https://www.w3schools.com/python/python_sets.asp

In [23]:
# A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets
# for loop in set
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)
#To add one item to a set use the add() method.
#To add more than one item to a set use the update() method.
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)
# To remove an item in a set, use the remove(), or the discard() method.
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

# The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

cherry
banana
apple
{'cherry', 'banana', 'apple', 'orange'}
{'cherry', 'mango', 'apple', 'banana', 'grapes', 'orange'}
{'cherry', 'apple'}

Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Exampl
Input:
1 2 4 6 3 7 8
Output:
5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the output

In [15]:
L = [1, 4,2, 3, 8, 9,5,7]
for x in L:
    print(x, end=" ")
input_elements=print()
def find_missing(L): 
    return [x for x in range(L[0], L[-1]+1)  
                               if x not in L] 
output=print(find_missing(L),end=" ")

1 4 2 3 8 9 5 7
[6]

Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24 35

In [18]:
test_list = [12,24,35,24,88,120,155,88,120,155] 
print ("The original list is : " +  str(test_list)) 
  
# using naive method 
# to remove duplicated  
# from list  
res = [] 
for i in test_list: 
    if i not in res: 
        res.append(i)
print ("The list after removing duplicates : " + str(res))

The original list is : [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
The list after removing duplicates : [12, 24, 35, 88, 120, 155]